* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10px;
  min-height: 10px;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.7);
  color: #d9bfff;
  border-bottom: 1px solid #6c4db6;
}

tooltip {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 7px;
    border-width: 0px;
}


#clock,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#pulseaudio#microphone,
#taskbar,
#taskbar,
#taskbar,
#taskbar#windows,
#window,
#tray,
#privacy,
#idle_inhibitor,
#workspaces,
#workspaces,
#workspaces,
#custom-power,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  padding-left: 4px;
  padding-right: 4px;
  margin: 4px 0px 4px 0px;
  background-color: #1a1129;
  color: #d9bfff;
  opacity: 1;
}



#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: #cdd6f4;
    animation: ws_normal 20s ease-in-out 1;
}
#workspaces button.active {
    background: #a6adc8;
    color: #313244;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: #f5c2e7;
    color: #313244;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}
#workspaces,
#taskbar {
    padding: 0px;
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: #313244;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: #a6adc8;
    color: #a6adc8;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
    background: #f5c2e7;
    color: #313244;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 9px;
    padding-left: 3px;
}
